.header-grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
.profilepic {
    width: 150px;
    text-align: left;
    margin-left: 45px;
    margin-top: 15px;
    margin-bottom: 15px;
    border-radius: 15px;
    grid-column:1/2;
    grid-row:1/4;
    box-shadow: 10px 10px 10px  rgb(70, 140, 116);
}
.name {
    align-items: center;
    font-size: 2.5em;
    grid-column:2/4;
    grid-row:2/3;
}
header {
    background-color:rgb(115, 230, 191);
    border-radius: 15px;
    box-shadow: 10px 10px 10px  rgb(70, 140, 116);
}
footer {
    background-color:rgb(115, 230, 191);
    border-radius: 15px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    box-shadow: 10px 10px 10px   rgb(70, 140, 116);
}
body {
    margin: 25px;
}
main {
    margin: 15px;
}
#updated {
    color: darkgoldenrod;
}
.updates {
    color: darkgoldenrod;
}
.info {
    margin-top: -8px;
    padding-bottom: 25px;
}
