@media screen and (min-width: 700px) {
    main {
        display: grid;
        grid-template-columns: repeat(2,1fr);
    }
    .white_space {
        border-radius: 15px;  
        width: 90%;  
        grid-column: 2;
    }
    .visual_hierarchy {
        border-radius: 20px;  
        width: 90%; 
    }
    .colors {
        border-radius: 15px;  
        width: 90%; 
        grid-column: 1/3;
        
    }
    #maincolors{
        grid-column: 1/3;
    }
}
