@import url("https://fonts.googleapis.com/css2?family=Acme&display=swap");
* {
	margin: 0;
	padding: 0;
}
body {
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: 18px;
	font-family: Acme, Arial, sans-serif;
}
main {
	margin: 0.5rem auto;
	border: 1px solid rgba(0, 0, 0, 0.2);
	padding: 0.5rem;
	background-color: #bed;
	display: grid;
	/* grid-template-columns: 1fr; */
	width: 95%;
}
input,
#add {
	padding: 0.35rem;
	/* margin-left: 1rem; */
	font-size: 1.1rem;
	color: black;
	font-weight:100;
}
#content {
	display: grid;
}
h1 {
	font-size: 1.5rem;
	grid-column: 2/3;
	padding-top: 20px;
}
#book{
	display: block;
	max-width: 75px;
	grid-column: 1/2;
	margin-right: 15px;
}
input {
	width: 175px;
}
label {
	font-size: 0.9rem;
	margin-right: 1rem;
}
.listcontainer {
	border: 1px solid rgba(0, 0, 0, 0.2);
	margin: 1rem;
	padding: 1rem;
}
.list {
	margin: 0.2rem;
}
ul {
	margin: 1rem;
	padding: 15px;
	list-style: none;
}
li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}
button {
	padding: 0.45rem;
	margin-left: 0rem;
	font-size: 1.1rem;
}
@media only screen and (min-width: 32.5em) {
	h1 {
		font-size: 2rem;
	}

	main {
		width: 480px;
	}
}
