@media screen and (min-width: 1050px) {
    #content {
        margin-right: 150px;
        margin-left: 150px;
        font-size: 1.25em;
    }
    .logo {
        max-width: 50%;
    }
    nav {
        display: flex; 
        justify-content: space-evenly;
    }
    
}