@media screen and (min-width: 700px) {
    #content {
        margin-right: 150px;
        margin-left: 150px;
    }
    .logo {
        max-width: 70%;
        margin-top: 0px;
        padding-top: 0px;
    }
    header nav {
        display: flex; 
        justify-content: space-around;
    }
}